*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: cornflowerblue;
}
.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 390px;
    width: 320px;
    border: 1px solid rgb(0, 200, 255);
    border-radius: 20px;
    overflow: hidden;
}
#card1{
    z-index: 4;

}
#card2{
    z-index: 3;
    rotate: -6deg;
    
}
#card3{
    z-index: 2;
    rotate: -12deg;
    
}
#card4{
    z-index: 1;
    rotate: -18deg;
    
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: white;
}
#card2:hover{
    z-index: 10;
}
#card3:hover{
    z-index: 10;
}
#card4:hover{
    z-index: 10;
}

